<footer class="footer" id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
                    <h5 class="footer-heading">Thông tin liên hệ</h5>
                    <ul class="navbar-nav nav-contact">
                        <li class="nav-item">
                            <i class="bi bi-geo-alt-fill"></i>
                            <span>Địa chỉ : 196/12 Cộng Hòa, P. 12, Q. Tân Bình, TP. HCM</span>
                        </li>
                        <li class="nav-item">
                            <i class="bi bi-telephone-fill"></i>
                            <span>Điện thoại: 0932.132.670</span>
                        </li>
                        <li class="nav-item">
                            <i class="bi bi-envelope-fill"></i>
                            <span>Email: info@pmec.com.vn</span>
                        </li>
                        <li class="nav-item">
                            <i class="bi bi-globe2"></i>
                            <span>Website: pmec.com.vn</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
                    <h5 class="footer-heading">LĨNH VỰC HOẠT ĐỘNG</h5>
                    <ul class="navbar-nav footer-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="projects.html" title="Thiết Kế Thi Công">Thiết Kế Thi Công</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="projects.html" title="Cáp Dự Ứng Lực">Cáp Dự Ứng Lực</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="projects.html" title="Tư Vấn Thiết Kế">Tư Vấn Thiết Kế</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="projects.html" title="Thiết Kế Thi Công">Thiết Kế Thi Công</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="projects.html" title="Sản Xuất và Thương Mại">Sản Xuất và Thương Mại</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 mb-5 mb-sm-0">
                    <h5 class="footer-heading">TRUYỀN THÔNG</h5>
                    <ul class="navbar-nav footer-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="news.html" title="Tin Công Ty">Tin Công Ty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="news.html" title="Tin Dự án">Tin Dự án</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="news.html" title="Tin tuyển dụng">Tin tuyển dụng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="news.html" title="Tài liệu">Tài liệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="news.html" title="Video">Video</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="footer-heading">Đăng ký nhận tin</h5>
                    <p class="fs-6">Vui lòng đăng ký nhận tin để biết thêm thông tin báo giá</p>
                    <form class="contact-form">
                        <input class="form-control" type="text" placeholder="Nhập email của bạn...">
                        <button class="btn btn-sm bg-orange text-white">Gửi</button>
                    </form>
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-sm-start">
                        <h6 class="fst-italic me-4">Follow us:</h6>
                        <ul class="nav nav-social mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#" title="Facebook">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" title="Twitter">
                                    <i class="bi bi-twitter"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" title="Google">
                                    <i class="bi bi-google"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" title="Youtube">
                                    <i class="bi bi-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <p class="fs-7 mb-0 fw-bold">2020 Copyright © . Web Design PANPIC</p>
        </div>
    </div>
</footer>