
.toc-wrap {
    max-width: 339px;
    z-index: 3;
    left: 0;
}
.sidebar-sticky{
    position: fixed;
    top: 170px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .1)
}
.sidebar-stop {
    position: absolute;
}
.sidebar-hidden {
    display: none;
}

.toc-title {
    font-size: 1.7rem;
    margin-top: 0.3rem;
    padding: .35rem 0rem;
}
#toc ul li{list-style: none !important;}
#toc {
    max-height: calc(100vh - 150px);
    padding: 1rem 0.2rem;
    overflow-y: scroll;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
a {
&:hover {
     text-decoration: underline;
 }
}
.toc-active {
    font-weight: bold;
    color: #0d50a1;
}
.toc-item {
    padding: 0.1em 0;
a {
    /*padding: 0.25em 0.35em;*/
    display: block;
    margin-top: -24px;
    white-space: pre-line;
}
}
ul{padding-left: 0.3rem}
.toc-h2 { margin-left: 0.5em }
.toc-h3 { margin-left: 1.1em }
.toc-h4 { margin-left: 2em }
.toc-h5 { margin-left: 3.25em }
.toc-h6 { margin-left: 4.5em }
}
}


.toc-title svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}
.toc-wrap .toc-title{
    cursor: pointer;
}
.toc-item:not(a){
    color: #282FEF;
}

.toc-title .svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    padding-left: 5px;
}

.toc-h1 a {
    padding-left: 0.75rem;
}
.toc-h2 a {
    padding-left: 1.35rem;
}
.toc-h3 a {
    padding-left: 2.05rem;
}
.toc-h4 a {
    padding-left: 2.75rem;
}
.toc-h5 a {
    padding-left: 3.45rem;
}
.toc-h6 a {
    padding-left: 4.15rem;
}

@media (max-width:768px){
    #sidebar .accordion-button{
        padding: 0.1rem 0;
    }
    .sidebar-sticky{
        top: unset;
    }
    .toc-wrap .toc-title {
        background-color: #e3e3e3;
    }
    #toc {
        padding: 0;
        max-height: 350px;
    }
    .toc-wrap {
        width: 100%;
        bottom: 0;
        position: fixed;
    }
}