@charset "utf-8";
@media (min-width: 575px) and (max-width: 910px) {
  .customer .advance-search .form .btn {
    width: auto !important;
  }
}
.customer .section-guide {
  background-color: #f5f7fa;
  margin: 20px 0;
  padding: 2rem 2rem 1rem 2rem;
}
.customer .section-guide .block-item {
  text-align: center;
  margin-bottom: 15px;
  display: block;
}
.customer .section-guide .block-item .block-icon {
  position: relative;
  border: 1px solid #ddd;
  width: 60%;
  margin: 0 auto;
  background-color: #FFF;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.customer .section-guide .block-item .block-icon i {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 60px;
}
.customer .section-guide .block-item .block-heading {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
.customer .section-guide .block-item .block-heading::after {
  display: none;
}
.customer .section-link {
  margin-bottom: 20px;
}
.customer .section-link .block-item {
  padding: 1.5rem;
  border: 1px solid #d2d2d2;
  box-shadow: none;
  -webkit-transition: box-shadow .25s, border-color .25s;
  -moz-transition: box-shadow .25s, border-color .25s;
  -ms-transition: box-shadow .25s, border-color .25s;
  -o-transition: box-shadow .25s, border-color .25s;
  transition: box-shadow .25s, border-color .25s;
  margin-bottom: 15px;
}
.customer .section-link .block-item:hover, .customer .section-link .block-item:focus, .customer .section-link .block-item:visited {
  border-color: #0064d3;
  box-shadow: 0 3px 8px rgba(0, 99, 211, 0.27);
}
.customer .section-link .block-item .block-heading {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto-Bold", sans-serif;
  padding-top: 5px;
  border-bottom: 1px solid #cecece;
}
.customer .section-link .block-item .block-body li {
  line-height: 1.5rem;
}
.customer .section-link .block-item .block-body li a {
  color: #0064d3;
}
.customer .section-link .block-item .block-body li a:hover {
  text-decoration: underline;
}
.customer .superior-feature .block-heading {
  font-size: 16px;
  font-weight: bold;
}

